@font-face {
    font-family: monofur;
    src: url(../bin/monof55.ttf);
}

svg {
    stroke-width: 0.5px;
}

.terminalButtonIdle  rect{
    fill: orange;
    
}

.terminalButtonIdle text {
    fill: black;
}


.terminalButtonActive rect {
    fill: black;
}

.terminalButtonActive text {
    fill: orange;
}

.navbar g rect {
    /*stroke: none;*/
}

#backgroundText text {
    -webkit-transition: x 2s;
    transition: x 2s;
}

#imageRow {
    padding-top: 8%;
}

text {
    font-family: monofur;
}

#hiText, #clipPath text {
    font-family: impact;
        
}