<svg width="100%" height="100%" viewBox="0 0 100 12">
    <rect x="1" y="1" width="98" height="10" fill="none" stroke="orange" onclick="console.log('click!');" filter="url(#glow)"
    />
    <!--<rect x="1" y="8" width="98" height="3" fill="none" stroke="orange" />-->

    <!-- Buttons -->
    <g>
        <rect x="1" y="8" width="8.2" height="3" fill="none" stroke="orange" filter="url(#glow)" />
        <text x="1.2" y="10.2" font-family="monospace" fill="orange" font-size="2" filter="url(#glow)">(A)bout</text>
    </g>

    <g transform="translate(9,0)">
        <rect x="1" y="8" width="13.5" height="3" fill="none" stroke="orange" filter="url(#glow)" />
        <text x="1.2" y="10.2" font-family="monospace" fill="orange" font-size="2" filter="url(#glow)">(T)echnology</text>
    </g>

    <g transform="translate(23.25,0)">
        <rect x="1" y="8" width="15.5" height="3" fill="none" stroke="orange" filter="url(#glow)" />
        <text x="1.2" y="10.2" font-family="monospace" fill="orange" font-size="2" filter="url(#glow)">(W)ork History</text>
    </g>

    <g transform="translate(39.5,0)">
        <rect x="1" y="8" width="13.5" height="3" fill="none" stroke="orange" filter="url(#glow)" />
        <text x="1.2" y="10.2" font-family="monospace" fill="orange" font-size="2" filter="url(#glow)">(P)layground</text>
    </g>
</svg>