<div>
    <svg width="100%" height="100%" viewBox="0 0 100 12">
        <rect x="1" y="1" width="98" height="10" fill="none" stroke="orange" onclick="console.log('click!');" filter="url(#glow)"
        />
        <!--<rect x="1" y="8" width="98" height="3" fill="none" stroke="orange" />-->

        <!--Navbar -->
        <g class="navbar">
            <g class="terminalButtonIdle" ng-class="{ terminalButtonActive: hover0 }" ng-mouseenter="hover0 = true" ng-mouseleave="hover0 = false">
                <rect x="1" y="1" width="8.2" height="3" fill="none" stroke="orange" filter="url(#glow)" />
                <text x="1.2" y="1" font-family="monospace" fill="orange" font-size="2" filter="url(#glow)">(A)bout</text>
            </g>

            <g transform="translate(9,0)" class="terminalButtonIdle" ng-class="{ terminalButtonActive: hover1 }" ng-mouseenter="hover1 = true"
                ng-mouseleave="hover1 = false">
                <rect x="1" y="8" width="13.5" height="3" fill="none" stroke="orange" filter="url(#glow)" />
                <text x="1.2" y="10.2" font-family="monospace" fill="orange" font-size="2" filter="url(#glow)">(T)echnology</text>
            </g>

            <g transform="translate(23.25,0)" class="terminalButtonIdle" ng-class="{ terminalButtonActive: hover2 }" ng-mouseenter="hover2 = true"
                ng-mouseleave="hover2 = false">
                <rect x="1" y="8" width="15.5" height="3" fill="none" stroke="orange" filter="url(#glow)" />
                <text x="1.2" y="10.2" font-family="monospace" fill="orange" font-size="2" filter="url(#glow)">(W)ork History</text>
            </g>

            <g transform="translate(39.5,0)" class="terminalButtonIdle" ng-class="{ terminalButtonActive: hover3 }" ng-mouseenter="hover3 = true"
                ng-mouseleave="hover3 = false">
                <rect x="1" y="8" width="13.5" height="3" fill="none" stroke="orange" filter="url(#glow)" />
                <text x="1.2" y="10.2" font-family="monospace" fill="orange" font-size="2" filter="url(#glow)">(P)layground</text>
            </g>


            <!--<g id="logo" transform="translate(0,-2.75) scale(1.4,1.3)">
                <text x="60" y="6.5" font-family="impact" fill="none" stroke="orange" font-size="4" stroke-width="0.2px" filter="url(#glow)">GAM</text>
                <text x="60" y="10" font-family="impact" fill="none" stroke="orange" font-size="4" stroke-width="0.2px" filter="url(#glow)">MON</text>
                
                <text x="0" y="0" font-family="impact" fill="orange" font-size="2" filter="url(#glow)" transform="scale(1,1.75) translate(59.9,5.78) rotate(-90)">JACK</text>
                
            </g>-->
        </g>


    </svg>
</div>